// Define font variables
$font-boldonse: "Boldonse", system-ui;
$font-bodoni-moda: "Bodoni Moda", serif;
$font-gravitas-one: "Gravitas One", serif;
$font-dancing-script: "Dancing Script", cursive;
$font-lobster: "Lobster", sans-serif;
$font-playfair-display: "Playfair Display", serif;

// Apply font styles using variables

// .boldonse-regular {
//   font-family: $font-boldonse;
//   font-weight: 400;
//   font-style: normal;
// }

// // Example usage with a unique class name and weight
// .bodoni-moda-bold {
//   font-family: $font-bodoni-moda;
//   font-optical-sizing: auto;
//   font-weight: 700;
//   font-style: normal;
// }

// .gravitas-one-regular {
//   font-family: $font-gravitas-one;
//   font-weight: 400;
//   font-style: normal;
// }

// .dancing-script-regular {
//   font-family: $font-dancing-script;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }

// .lobster-regular {
//   font-family: $font-lobster;
//   font-weight: 400;
//   font-style: normal;
// }

// // Example usage with a unique class name and weight
// .playfair-display-semibold {
//   font-family: $font-playfair-display;
//   font-optical-sizing: auto;
//   font-weight: 600;
//   font-style: normal;
// }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: black;
}

#main {
	position: relative;
	overflow: hidden;
}

#nav {
	background: transparent;
	backdrop-filter: blur(13px);
	height: 4rem;
	color: antiquewhite;
	display: flex;
	justify-content: space-between;
	padding: 0.4rem;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;

	> h1 {
		> a {
			all: unset;
			font-family: $font-playfair-display;
			color: antiquewhite;
		}
	}
	> #menubtn {
		all: unset;
		transition: transform 0.3s ease;

		&:hover {
			transform: scale(1.1);
		}
	}
}

#menu {
	width: 100%;
	height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease;
	position: fixed;
	z-index: 88;

	#links {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2rem;
		justify-content: center;
		align-items: center;
		> #link {
			all: unset;
			font-family: $font-playfair-display;
			color: antiquewhite;
			font-size: 2rem;
			text-decoration: none;
			transition: all 0.3s ease;

			&:hover {
				transform: scale(1.1);
				color: #67f73b;
			}
		}
	}
}

#page {
	width: 100%;
	height: 700vh;
	background: red;
	position: relative;
	top: 0%;
	left: 0;
}

#content {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

#canvas {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
